<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        TABLE {
         width: 300px; /* Ширина таблицы */
         border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }
        TD, TH {
         padding: 3px; /* Поля вокруг содержимого таблицы */
         border: 1px solid rgb(117, 162, 245); /* Параметры рамки */
        }
        TH {
         background: #b0e0e6; /* Цвет фона */
        }
       </style>
</head>
<body>
<h1 align = 'center'  style = "color:#085dfc">Cattle selection</h1>
<span class="border">
    <div class="container" align='center'>
        <form method="POST" action="/deeper">
            <div class = 'row'>
                <div class='col-sm-4'>
                    <h4>General data</h4>
                    <table align = 'center' bgcolor = #E0FFFF style ='width:350px'>
                        <tr>
                            <td>Breed</td>
                            <td><INPUT type = 'TextField' placeholder = 'holstein' ></td>
                        </tr>

                        <tr>
                            <td>latitude</td>
                            <td><input type = 'FloatField' placeholder = 12.3 ></td>
                        </tr>
                        <tr>
                            <td>longtitude</td>
                            <td><input type = 'FloatField' placeholder = 45.6 ></td>
                        </tr>
                        <tr>
                            <td>Тип содержания</td>
                            <td>
                                <select name = "tip_soderjaniya">
                                    <option>Выберите тип</option>
                                    <option>Привязное</option>
                                    <option>Беспривязное</option>
                                    <option>Смешанное</option>
                                </select>
                            </td>
                        </tr>  
                    </table>
                </div>
                <div class = 'col-8'>
                    <H1 align ='center'>The First breed</H1>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'col-12' align = 'center'>
                    <h5  align = 'center'>Financial Data</h5>
                    <table align = 'center' bgcolor = #E0FFFF>
                        <tr>
                            <td>Self cost per liter</td>
                            <td><input type='FloatField' name='selfprice1' style="width: 100px" placeholder='12.34' required></td>
                            <td><input type='FloatField' name='selfprice2' style="width: 100px" placeholder='12.34' required></td>
                            <td><input type='FloatField' name='selfprice3' style="width: 100px" placeholder='12.34' required></td>
                            <td><input type='FloatField' name='selfprice4' style="width: 100px" placeholder='12.34' required></td>
                            <td><input type='FloatField' name='selfprice5' style="width: 100px" placeholder='12.34' required></td>
                        </tr>
                        <tr>
                            <td>Subsidies per liter</td>
                            <td><input type = 'FloatField'  name='subsidies1' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='subsidies2' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='subsidies3' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='subsidies4' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='subsidies5' style="width: 100px" placeholder='12.34'></td>
                        </tr>
                        <tr>
                            <td>Trade cost per liter</td>
                            <td><input type = 'FloatField'  name='tradeprice1' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='tradeprice2' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='tradeprice3' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='tradeprice4' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='tradeprice5' style="width: 100px" placeholder='12.34'></td>
                        </tr>
                        <tr>
                            <td>Profitability with subsidies</td>
                            <td><input type = 'FloatField'  name='rent_with_sub1' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='rent_with_sub2' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='rent_with_sub3' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='rent_with_sub4' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='rent_with_sub5' style="width: 100px" placeholder='12.34'></td>
                        </tr>
                        <tr>
                            <td>Profitability without subsidies</td>
                            <td><input type = 'FloatField'  name='rent_without_sub1' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='rent_without_sub2' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='rent_without_sub3' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='rent_without_sub4' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='rent_without_sub5' style="width: 100px" placeholder='12.34'></td>
                        </tr>
                    </table>
                    <h5>Agricultural Data</h5>
                    <table align = 'center' bgcolor = #E0FFFF>                    
                        <tr>
                            <td>Lifetime</td>
                            <td><input type = 'FloatField'  name='lifetime1' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='lifetime2' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='lifetime3' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='lifetime4' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='lifetime5' style="width: 100px" placeholder='12.34'></td>
                        </tr>
                        <tr>
                            <td>Offspring</td>
                            <td><input type = 'FloatField'  name='offspring1' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='offspring2' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='offspring3' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='offspring4' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='offspring5' style="width: 100px" placeholder='12.34'></td>
                        </tr>
                        <tr>
                            <td>Mortality</td>
                            <td><input type = 'FloatField'  name='mortality1' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='mortality2' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='mortality3' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='mortality4' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='mortality5' style="width: 100px" placeholder='12.34'></td>
                        </tr>
                        <tr>
                            <td>Yeild</td>
                            <td><input type = 'FloatField'  name='yeild1' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='yeild2' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='yeild3' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='yeild4' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='yeild5' style="width: 100px" placeholder='12.34'></td>
                        </tr>
                    </table>
                    <h5>Biological data</h5>
                    <table align = 'center' bgcolor = #E0FFFF>
                        <tr>
                            <td>Fat content</td>
                            <td><input type = 'FloatField'  name='fat_content1' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='fat_content2' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='fat_content3' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='fat_content4' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='fat_content5' style="width: 100px" placeholder='12.34'></td>
                        <tr>
                            <td>Protein content</td>
                            <td><input type = 'FloatField'  name='protein_content1' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='protein_content2' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='protein_content3' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='protein_content4' style="width: 100px" placeholder='12.34'></td>
                            <td><input type = 'FloatField'  name='protein_content5' style="width: 100px" placeholder='12.34'></td>
                        </tr> 
                    </table>
                </div>
            </div>
            <p></p>
            <tr align = 'center'><th colspan="3"><button type="submit">START</button></th></tr>
        </form>
    </div>
</span> 

<p></p>
<h1 align = 'center' style = "color:#085dfc">Results</h1>
<p></p>

<h3 align = 'center'>Calculation history (Variation)</h3>
<div class="container">
    <div class="row">
        <table align = 'center'>
            <tr>
                <td>Selfprice variation</td>
                <td>Subsidies variation</td>
                <td>Tradeprice variation</td>
                <td>Rent_with_sub variation</td>
                <td>Rent_without_sub variation</td>
            </tr>
            <tr>
                <td>{% for message3 in messages3 %}  {{message3.znachenie[0]}} {% endfor %}</td>
                <td>{% for message3 in messages3 %}  {{message3.znachenie[1]}} {% endfor %}</td>
                <td>{% for message3 in messages3 %}  {{message3.znachenie[2]}} {% endfor %}</td>
                <td>{% for message3 in messages3 %}  {{message3.znachenie[3]}} {% endfor %}</td>
                <td>{% for message3 in messages3 %}  {{message3.znachenie[4]}} {% endfor %}</td>
            </tr>
        </table>
    </div>
    <p></p>
    <div class="row">
        <table align = 'center'>
            <tr>
                <td>Lifetime variation</td>
                <td>Offspring variation</td>
                <td>Mortality variation</td>
                <td>Yeild variation</td>
                <td>Fat content variation</td>
                <td>Protein_content variation</td>
            </tr>
            <tr>
                <td>{% for message3 in messages3 %}  {{message3.znachenie[5]}} {% endfor %}</td>
                <td>{% for message3 in messages3 %}  {{message3.znachenie[6]}} {% endfor %}</td>
                <td>{% for message3 in messages3 %}  {{message3.znachenie[7]}} {% endfor %}</td>
                <td>{% for message3 in messages3 %}  {{message3.znachenie[8]}} {% endfor %}</td>
                <td>{% for message3 in messages3 %}  {{message3.znachenie[9]}} {% endfor %}</td>
                <td>{% for message3 in messages3 %}  {{message3.znachenie[10]}} {% endfor %}</td>
            </tr>
        </table>
        

    </div>
</div>
<p></p>


<h3 align = 'center'>Calculation History (Correlation)</h3>
<div class="container">
    <div class="row">
        <div class='col-sm'>
            <table align = 'center'>
                <tr>
                    <td>Selfprice | Offspring</td>
                    <td>{% for message3 in messages3 %}  {{message3.znachenie[11]}} {% endfor %}</td>
                </tr>
                <tr>
                    <td>Selfprice | Mortality</td>
                    <td>{% for message3 in messages3 %}  {{message3.znachenie[12]}} {% endfor %}</td>
                </tr>
                <tr>
                    <td>Selfprice | Lifetime</td>
                    <td>{% for message3 in messages3 %}  {{message3.znachenie[13]}} {% endfor %}</td>
                </tr>
                <tr>
                    <td>Selfprice | Yeild</td>
                    <td>{% for message3 in messages3 %}  {{message3.znachenie[14]}} {% endfor %}</td>
                </tr>
                <tr>
                    <td>Subsidies | Offspring</td>
                    <td>{% for message3 in messages3 %}  {{message3.znachenie[15]}} {% endfor %}</td>
                </tr>
                <tr>
                    <td>Subsidies | Mortality</td>
                    <td>{% for message3 in messages3 %}  {{message3.znachenie[16]}} {% endfor %}</td>
                </tr>
                <tr>
                    <td>Subsidies | Lifetime</td>
                    <td>{% for message3 in messages3 %}  {{message3.znachenie[17]}} {% endfor %}</td>
                </tr>
                <tr>
                    <td>Subsidies | Yeild</td>
                    <td>{% for message3 in messages3 %}  {{message3.znachenie[18]}} {% endfor %}</td>
                </tr>
            </table>
        </div>
        <div class='col-sm'>
            <table align = 'center'>
                    <tr>
                        <td>Tradeprice | Rent with sub</td>
                        <td>{% for message3 in messages3 %}  {{message3.znachenie[19]}} {% endfor %}</td>
                    </tr>
                    <tr>
                        <td>Tradeprice | Offspring</td>
                        <td>{% for message3 in messages3 %}  {{message3.znachenie[20]}} {% endfor %}</td>
                    </tr>
                    <tr>
                        <td>Tradeprice | Mortality</td>
                        <td>{% for message3 in messages3 %}  {{message3.znachenie[21]}} {% endfor %}</td>
                    </tr>
                    <tr>
                        <td>Rent witout sub | Yeild</td>
                        <td>{% for message3 in messages3 %}  {{message3.znachenie[22]}} {% endfor %}</td>
                    </tr>
                    <tr>
                        <td>Offspring | Mortality</td>
                        <td>{% for message3 in messages3 %}  {{message3.znachenie[23]}} {% endfor %}</td>
                    </tr>
                    <tr>
                        <td>Offspring | Yeild</td>
                        <td>{% for message3 in messages3 %}  {{message3.znachenie[24]}} {% endfor %}</td>
                    </tr>
                    <tr>
                        <td>Yeild | Fat content</td>
                        <td>{% for message3 in messages3 %}  {{message3.znachenie[25]}} {% endfor %}</td>
                    </tr>
                    <tr>
                        <td>Yeild | Protein content</td>
                        <td>{% for message3 in messages3 %}  {{message3.znachenie[26]}} {% endfor %}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<p></p>

<h3 align = 'center'>Calculation History (Forecast)</h3>
<span width = "600">
    <div class="row">
        <div class='col-sm'>
            <table align = 'center'>
                <tr>
                    <td height="30" width = "50">Year</td>
                    <td height="30" width = "50">1-st</td>
                    <td height="30" width = "50">2-nd</td>
                    <td height="30" width = "50">3-rd</td>
                    <td height="30" width = "50">4-th</td>
                    <td height="30" width = "50">5-th</td>
                </tr>
                <tr>
                    <td>Subsidies</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[0]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[1]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[2]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[3]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[4]}} {% endfor %}</td>
                </tr>
                <tr>
                    <td>Yeild</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[5]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[6]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[7]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[8]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[9]}} {% endfor %}</td>
                </tr>
                <tr>
                    <td>Lifetime</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[10]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[11]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[12]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[13]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[14]}} {% endfor %}</td>
                </tr>
                <tr>
                    <td>Offspring</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[15]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[16]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[17]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[18]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[19]}} {% endfor %}</td>
                </tr>
                <tr>
                    <td>Mortality</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[20]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[21]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[22]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[23]}} {% endfor %}</td>
                    <td>{% for prognoz in prognozs %}  {{prognoz.prognoz[24]}} {% endfor %}</td>
                </tr>
        </table>
        </div>
    </div>
</span>



<title>Круговая диаграмма</title>
<script src="https://www.google.com/jsapi"></script>
<script>
 google.load("visualization", "1", {packages:["corechart"]});
 google.setOnLoadCallback(drawChart);
 function drawChart() {
  var data = google.visualization.arrayToDataTable([
   ['Газ', 'Объём'],
   ['Азот',     78.09],
   ['Кислород', 20.95],
   ['Аргон',    0.93],
   ['Углекислый газ', 0.03]
  ]);
  var options = {
   title: 'Состав воздуха',
   is3D: true,
   pieResidueSliceLabel: 'Остальное'
  };
  var chart = new google.visualization.PieChart(document.getElementById('air'));
   chart.draw(data, options);
 }
</script>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <div id="air" style="width: 500px; height: 400px;"></div>
</body>




</html>